mixin fieldset(title)
  fieldset
    legend #{title}
    section
      block

doctype html
html
  head
    meta(charset="utf-8")
    title JSON RPC test

    link(href="node_modules/normalize.css/normalize.css" rel="stylesheet")

    script(src="node_modules/jquery/dist/jquery.js")
    script(src="node_modules/lodash/lodash.js")
    script(src="node_modules/ant-jsonrpc2/dist/jsonrpc2.js")
    //script(src="dist/js/jsonrpc2.js")

    link(href="dist/demo/css/main.css" rel="stylesheet")

    script(src="dist/demo/js/main.js")
    script(src="dist/api.js")

  body

    .row
      label
        | URL:
        input#val-url(type="text")

    .row
      button#btn-connect.btn Connect
      button#btn-auth.btn Auth.GetUser
      button#btn-login.btn Auth.Login
      button#btn-logout.btn Auth.Logout

    .row
      label
        input#val-autoconnect(type="checkbox")
        | &nbsp;Auto connect


    +fieldset('Casino')
      +fieldset('Filter')
        .row
          label.inline(for="val-casino-filter-id") id
          input#val-casino-filter-id
        .row
          label.inline(for="val-casino-filter-string-id") string_id
          input#val-casino-filter-string-id
        .row
          label.inline(for="val-casino-filter-site") site
          input#val-casino-filter-site
        .row
          label.inline(for="val-casino-filter-site") create_time
          input#val-casino-filter-create-time
        .row
          label.inline(for="val-casino-filter-site") active
          select#val-casino-filter-active
            option(value="") &nbsp;
            option(value="true") true
            option(value="false") false
        .row
          label.inline(for="val-casino-filter-offset") offset
          input#val-casino-filter-offset
        .row
          label.inline(for="val-casino-filter-limit") limit
          input#val-casino-filter-limit

      +fieldset('Order')
        .row
          label
            | Field
            select#val-casino-order-field0
              option(value="") &nbsp;
              option(value="id") id
              option(value="string_id") string_id
              option(value="site") site
              option(value="create_time") create_time
              option(value="active") active
          label
            | Desc
            input#val-casino-order-desc0(type="checkbox")
        .row
          label
            | Field
            select#val-casino-order-field1
              option(value="") &nbsp;
              option(value="id") id
              option(value="string_id") string_id
              option(value="site") site
              option(value="create_time") create_time
              option(value="active") active
          label
            | Desc
            input#val-casino-order-desc1(type="checkbox")

      .row
        button#btn-casino-list.btn List

      +fieldset('Create/Update')
        .row
          label.inline(for="val-casino-id") id
          input#val-casino-id
        .row
          label.inline(for="val-casino-string-id") string_id
          input#val-casino-string-id
        .row
          label.inline(for="val-casino-site") site
          input#val-casino-site
        .row
          label.inline(for="val-casino-active") active
          input(type="checkbox")#val-casino-active
        .row
          button#btn-casino-create.btn Create
          button#btn-casino-update.btn Update


    +fieldset('Game')
      +fieldset('Filter')
        .row
          label.inline(for="val-game-filter-id") id
          input#val-game-filter-id
        .row
          label.inline(for="val-game-filter-string-id") string_id
          input#val-game-filter-string-id
        .row
          label.inline(for="val-game-filter-name") name
          input#val-game-filter-name
        .row
          label.inline(for="val-game-filter-description") description
          input#val-game-filter-description
        .row
          label.inline(for="val-game-filter-type-id") type_id
          input#val-game-filter-type-id
        .row
          label.inline(for="val-game-filter-offset") offset
          input#val-game-filter-offset
        .row
          label.inline(for="val-game-filter-limit") limit
          input#val-game-filter-limit

      +fieldset('Order')
        .row
          label
            | Field
            select#val-game-order-field0
              option(value="") &nbsp;
              option(value="id") id
              option(value="name") name
              option(value="string_id") string_id
              option(value="type_id") type_id
              option(value="description") description
          label
            | Desc
            input#val-game-order-desc0(type="checkbox")
        .row
          label
            | Field
            select#val-game-order-field1
              option(value="") &nbsp;
              option(value="id") id
              option(value="name") name
              option(value="string_id") string_id
              option(value="type_id") type_id
              option(value="description") description
          label
            | Desc
            input#val-game-order-desc1(type="checkbox")


      .row
        button#btn-game-list.btn List

      +fieldset('Create/Update')
        .row
          label.inline(for="val-game-id") id
          input#val-game-id
        .row
          label.inline(for="val-game-string-id") string_id
          input#val-game-string-id
        .row
          label.inline(for="val-game-name") name
          input#val-game-name
        .row
          label.inline(for="val-game-description") description
          input#val-game-description
        .row
          label.inline(for="val-game-type-id") type_id
          input#val-game-type-id
        .row
          button#btn-game-create.btn Create
          button#btn-game-update.btn Update

    +fieldset('GameSection')
      +fieldset('Filter')
        .row
          label.inline(for="val-gamesection-filter-id") id
          input#val-gamesection-filter-id
        .row
          label.inline(for="val-gamesection-filter-string-id") string_id
          input#val-gamesection-filter-string-id
        .row
          label.inline(for="val-gamesection-filter-name") name
          input#val-gamesection-filter-name
        .row
          label.inline(for="val-gamesection-filter-offset") offset
          input#val-gamesection-filter-offset
        .row
          label.inline(for="val-gamesection-filter-limit") limit
          input#val-gamesection-filter-limit

      +fieldset('Order')
        .row
          label
            | Field
            select#val-gamesection-order-field0
              option(value="") &nbsp;
              option(value="id") id
              option(value="name") name
              option(value="string_id") string_id
          label
            | Desc
            input#val-game-gamesection-desc0(type="checkbox")
        .row
          label
            | Field
            select#val-gamesection-order-field1
              option(value="") &nbsp;
              option(value="id") id
              option(value="name") name
              option(value="string_id") string_id
          label
            | Desc
            input#val-gamesection-order-desc1(type="checkbox")


      .row
        button#btn-gamesection-list.btn List

      +fieldset('Create/Update')
        .row
          label.inline(for="val-gamesection-id") id
          input#val-gamesection-id
        .row
          label.inline(for="val-gamesection-string-id") string_id
          input#val-gamesection-string-id
        .row
          label.inline(for="val-gamesection-name") name
          input#val-gamesection-name
        .row
          button#btn-gamesection-create.btn Create
          button#btn-gamesection-update.btn Update

    +fieldset('GameType')
      +fieldset('Filter')
        .row
          label.inline(for="val-gametype-filter-id") id
          input#val-gametype-filter-id
        .row
          label.inline(for="val-gametype-filter-string-id") string_id
          input#val-gametype-filter-string-id
        .row
          label.inline(for="val-gametype-filter-name") name
          input#val-gametype-filter-name
        .row
          label.inline(for="val-gametype-filter-offset") offset
          input#val-gametype-filter-offset
        .row
          label.inline(for="val-gametype-filter-limit") limit
          input#val-gametype-filter-limit

      +fieldset('Order')
        .row
          label
            | Field
            select#val-gametype-order-field0
              option(value="") &nbsp;
              option(value="id") id
              option(value="name") name
              option(value="string_id") string_id
          label
            | Desc
            input#val-game-gametype-desc0(type="checkbox")
        .row
          label
            | Field
            select#val-gametype-order-field1
              option(value="") &nbsp;
              option(value="id") id
              option(value="name") name
              option(value="string_id") string_id
          label
            | Desc
            input#val-gametype-order-desc1(type="checkbox")


      .row
        button#btn-gametype-list.btn List

      +fieldset('Create/Update')
        .row
          label.inline(for="val-gametype-id") id
          input#val-gametype-id
        .row
          label.inline(for="val-gametype-string-id") string_id
          input#val-gametype-string-id
        .row
          label.inline(for="val-gametype-name") name
          input#val-gametype-name
        .row
          button#btn-gametype-create.btn Create
          button#btn-gametype-update.btn Update

    +fieldset('Patch')
      +fieldset('Filter')
        .row
          label.inline(for="val-patch-filter-id") id
          input#val-patch-filter-id
        .row
          label.inline(for="val-patch-filter-casino-id") casino_id
          input#val-patch-filter-casino-id
        .row
          label.inline(for="val-patch-filter-string-id") string_id
          input#val-patch-filter-string-id
        .row
          label.inline(for="val-patch-filter-name") type
          input#val-patch-filter-type
        .row
          label.inline(for="val-patch-filter-name") name
          input#val-patch-filter-name
        .row
          label.inline(for="val-patch-filter-offset") offset
          input#val-patch-filter-offset
        .row
          label.inline(for="val-patch-filter-limit") limit
          input#val-patch-filter-limit

      +fieldset('Order')
        .row
          label
            | Field
            select#val-patch-order-field0
              option(value="") &nbsp;
              option(value="id") id
              option(value="casino_id") casino_id
              option(value="string_id") string_id
              option(value="type") type
              option(value="name") name
          label
            | Desc
            input#val-game-patch-desc0(type="checkbox")
        .row
          label
            | Field
            select#val-patch-order-field1
              option(value="") &nbsp;
              option(value="id") id
              option(value="casino_id") casino_id
              option(value="string_id") string_id
              option(value="type") type
              option(value="name") name
          label
            | Desc
            input#val-patch-order-desc1(type="checkbox")


      .row
        button#btn-patch-list.btn List

      +fieldset('Create/Update')
        .row
          label.inline(for="val-patch-id") id
          input#val-patch-id
        .row
          label.inline(for="val-patch-casino-id") casino_id
          input#val-patch-casino-id
        .row
          label.inline(for="val-patch-string-id") string_id
          input#val-patch-string-id
        .row
          label.inline(for="val-patch-type") type
          select#val-patch-type
            option(value="base") base
            option(value="currency") currency
            option(value="alternative") alternative
            option(value="mix") mix

        .row
          label.inline(for="val-patch-name") name
          input#val-patch-name
        .row
          button#btn-patch-create.btn Create
          button#btn-patch-update.btn Update

    +fieldset('Custom Method')
      .row: input#val-method

      .row: label(for="val-params") Params (JSON):
      .row
        | {
        textarea(rows="5")#val-params
        | }

      .row
        button#btn-send Send

    .row
      button#btn-cls(style="display: none") cls

    pre#out
